{% load crispy_forms_tags %}
<!DOCTYPE html>
{% load static %}
<html lang="zxx" class="no-js">


<head>
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon-->
    <link rel="shortcut icon" href="{% static "img/favicon.ico" %}">
    <!-- Author Meta -->
    <meta name="author" content="codepixer">
    <!-- Meta Description -->
    <meta name="description" content="">
    <!-- Meta Keyword -->
    <meta name="keywords" content="">
    <!-- meta character set -->
    <meta charset="UTF-8">
    <!-- Site Title -->
    <title>Jashan Technology</title>

    <link href="https://fonts.googleapis.com/css2?family=Varela&display=swap" rel="stylesheet">
        <!--
        CSS
        ============================================= -->
        <link rel="stylesheet" href="{% static "css/linearicons.css" %}">
        <link rel="stylesheet" href="{% static "css/font-awesome.min.css" %}">
        <link rel="stylesheet" href="{% static "css/bootstrap.css" %}">
        <link rel="stylesheet" href="{% static "css/magnific-popup.css" %}">
        <link rel="stylesheet" href="{% static "css/nice-select.css" %}">
        <link rel="stylesheet" href="{% static "css/hexagons.min.css" %}">
        <link rel="stylesheet" href="{% static "css/animate.min.css" %}">
        <link rel="stylesheet" href="{% static "css/main.css" %}">
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        
      </head>
    <body>
        <!-- Preloader -->
	<div class="spinner-wrapper">
    <div class="spinner">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
    </div>
</div>
<!-- end of preloader -->
          <header class="site-navbar site-navbar-target"id="header" id="home">
              <div class="header-top">
                  <div class="container">
                      <div class="row">
                          
                          <div class="col-lg-12 col-sm-6 col-8 header-top-right no-padding">
                              <a href="tel:+91 9500769333">+91 9500769333</a>
                              <a href="mailto:nowreshraj.s@gmail.com">nowreshraj.s@gmail.com</a>
                          </div>
                      </div>
                  </div>
            </div>
            <div class="container main-menu">
                <div class="row align-items-center justify-content-between d-flex">
                  <div id="logo" style="max-width:30%;">
                    <a class="hell page-scroll" href="#home"><img id="logos" src="{% static "img/JTLOGO.png" %}" alt="sss" title="" style="max-width:54%;" /></a>
                  </div>
                  <nav id="nav-menu-container" >
                    <ul class="nav-menu nav hover ">
                      <li class="menu-active nav-item"><a class="nav-link page-scroll" href="#home" style="font-size: 18px;font-weight: bold;">Home</a></li>
                      <li class="nav-item"><a class="nav-link page-scroll" href="#about" style="font-size: 18px;font-weight: bold;">About</a></li>
                      <li><a class="nav-link page-scroll" href="#service" style="font-size: 18px;font-weight: bold;">Service</a></li>
                      <li><a class="nav-link page-scroll"href="#projects" style="font-size: 18px;font-weight: bold;">Projects</a></li>
                      <li></li>
                      <li><a class="nav-link page-scroll" href="#contact" style="font-size: 18px;font-weight: bold;">Contact</a></li>
                    
                    </ul>
                  </nav><!-- #nav-menu-container -->
                </div>
            </div>
          </header><!-- #header -->
    
<!-- 
Extends from here -->
{% block body_block %}



 {% endblock %}

						<!-- start footer Area -->
						<footer class="footer-area section-gap">
							<div class="container">
								<div class="row">
									<div class="col-lg-6 col-md-6 col-sm-6">
										<div class="single-footer-widget">
                      <h6>About Us</h6>
                      <p style="color: beige;">Our sales team will be happy to answer your questions. We look forward to being a valued supplier and contributing to your success.</p>
                      <br>
                      <h6>Follow Us</h6>
											<p style="color: beige;">Let us be social</p>
											<div class="footer-social d-flex align-items-center">
												<a href="#"><i class="fa fa-facebook"></i></a>
												<a href="#"><i class="fa fa-twitter"></i></a>
                      </div>
										</div>
									</div>
									<div class="col-lg-2  col-md-6 col-sm-6">
										<div class="single-footer-widget">
                      
										</div>
									</div>
									<div class="col-lg-4 col-md-6 col-sm-6 social-widget">
										<div class="single-footer-widget">
											
                      <h6>Location </h6>
                      <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15547.381726540709!2d80.0629688!3d13.0455089!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x7f3b3386b2ef60ba!2sJashan%20Technology!5e0!3m2!1sen!2sin!4v1594109442957!5m2!1sen!2sin" width="300" height="300" frameborder="0" style="border-radius:3%" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
											
										</div>
									</div>
								</div>
							</div>
						</footer>
						<!-- End footer Area -->

      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.slim.min.js"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>    
      
      <script src="{% static "js/vendor/jquery-2.2.4.min.js" %}"></script>
      <script src="{% static "js/vendor/bootstrap.min.js" %}"></script>
      
      <script src="{% static "js/easing.min.js" %}"></script>
			<script src="{% static "js/hoverIntent.js" %}"></script>
			<script src="{% static "js/superfish.min.js" %}"></script>
			<script src="{% static "js/jquery.ajaxchimp.min.js" %}"></script>
			<script src="{% static "js/jquery.magnific-popup.min.js" %}"></script>
			<script src="{% static "js/owl.carousel.min.js" %}"></script>
			<script src="{% static "js/hexagons.min.js" %}"></script>
			<script src="{% static "js/jquery.nice-select.min.js" %}"></script>
			<script src="{% static "js/jquery.counterup.min.js" %}"></script>
      <script src="{% static "js/waypoints.min.js" %}"></script>
      {% if error_message %}
      <script src="{% static "js/error.js" %}"></script>
      {% endif %}
      {% if success_message %}
      <script src="{% static "js/success.js" %}"></script>
      {% endif %}
      
      <script src="{% static "js/main.js" %}"></script>
      <script src="{% static "js/notify.js" %}"></script>
      
			<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
      
		</body>
	</html>
