{% extends "base.html"%} 
{% load static %}
{% load crispy_forms_tags %}
{% block body_block%}

			<!-- start banner Area -->
			<section class="banner-area relative" id="home">
				<div class="overlay overlay-bg"></div>
				<div class="container">
					<div class="row fullscreen d-flex align-items-center justify-content-center">
						<div class="banner-content col-lg-12 col-md-12">
							
							<h6 class="text-uppercase">Engineering - Prototyping - Fabrication - Painting - Assembly</h6>
							<h1>
								PRECISION SHEET METAL FABRICATIONS
							</h1>
							
							<a href="#contact" class=" page-scroll hell primary-btn header-btn text-uppercase ">Get Started</a>
						</div>
					</div>
				</div>
			</section>
			<!-- End banner Area -->
			

			<!-- Start cat Area -->
			<section class="cat-area section-gap" id="feature">
				<div class="container">
					<div class="row">
						<div class="col-lg-4">
							<div class="single-cat d-flex flex-column">
								<a  class="hb-sm-margin mx-auto d-block"><span class="hb hb-sm inv hb-facebook-inv"><span class="lnr lnr-magic-wand"></span></span></a>
								<h4 class="mb-20" style="margin-top: 23px;">Precision</h4>
								<p>
									Our cutting-edge equipment and skilled fabricators manufacture your parts with the uttermost precision making
								</p>
							</div>
						</div>
						<div class="col-lg-4">
							<div class="single-cat">
								<a  class="hb-sm-margin mx-auto d-block"><span class="hb hb-sm inv hb-facebook-inv"><span class="lnr lnr-rocket"></span></span></a>
								<h4 class="mt-40 mb-20">Speed</h4>
								<p>
									Delivering projects with speed and quality is what sets us apart
								</p>
							</div>
						</div>
						<div class="col-lg-4">
							<div class="single-cat">
								<a 	 class="hb-sm-margin mx-auto d-block"><span class="hb hb-sm inv hb-facebook-inv"><span class="lnr lnr-bug"></span></span></a>
								<h4 class="mt-40 mb-20">Consistency</h4>
								<p>
									Having an established consistent and reliable manufacturing process with skilled professionals
								</p>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- End cat Area -->


			<!-- Start home-about Area -->
			<section class="home-about-area section-gap" id="about">
				<div class="container">
					<div class="row justify-content-center align-items-center">
						<div class="col-lg-8 col-md-12 home-about-left">
							<!-- <h6>Brand new app to blow your mind</h6> -->
							<h1>
								Our Mission Statement
							</h1>
							<!-- <p class="sub">We are here to listen from you deliver exellence</p> -->
							<p style="font-size: 16px;" class="pb-20">
								Jashan Technology's mission is to be the most sophisticated supplier of custom precision sheet metal manufacturing and related value added services from single piece to high volume production in India.
								 We will attain this customer focused, cost sensitive mission by providing vertically integrated solutions using project management,cutting edge technology and advanced materials planning.
							</p>
							</div>
						<div class="col-lg-4 col-md-12  relative">
							
									<img class="img-thumbnail founder"src="https://upload.wikimedia.org/wikipedia/commons/f/f5/Poster-sized_portrait_of_Barack_Obama.jpg" alt="img">
								</div>
							</form>
						</div>
					</div>
				</div>
			</section>
			<!-- End home-about Area -->


			<!-- Start service Area -->
			<section class="service-area section-gap" id="service">
				<div class="container">
					<div class="row justify-content-center">
						<div class="col-md-12 pb-30 header-text text-center">
							<h1 class="mb-10">Our Capturing Market Sectors</h1>
							<p>
								Who are in extremely love with eco friendly system..
							</p>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-4">
							<div class="single-service">
								<div class="thumb">
									<img src="{% static "img/s1.jpg" %}" alt="">
								</div>
								<h4>Petrochemical Industry</h4>
								<p>
									Our primary domain, we specialize in tier 2 and tier 3 petrochemical products such as end caps for boilers, clamps, specialized steel covers, domes and much more. Welding, Turning, Milling, Press forming products are ensured to be completed to our customer's specification and time requirement.
								</p>
							</div>
						</div>
						<div class="col-lg-4">
							<div class="single-service">
								<div class="thumb">
									<img src="{% static "img/s2.jpg" %}" alt="">
								</div>
								<h4>Automotive Industry</h4>
								<p>
									We decided our support is needed for the big guns. Products specialized for tankers and trucks with high precision using our in house hydraulic press is always something we will pride upon. Dish end forming, Rings, Manhole covers, mountable steel boxes for valves and rope levers,etc., we have you covered for all your needs on the big rig sector.</p>
							</div>
						</div>
						<div class="col-lg-4">
							<div class="single-service">
								<div class="thumb">
									<img src="{% static "img/s3.jpg" %}" alt="">
								</div>
								<h4>Experimental production</h4>
								<p>
									Always keeping our minds open for new ideas, in the rare time that we get to ourselves we are always out in the horizon, exploring unknown sectors. With our team of expert manual machinists and welders, we simply refuse to say no to a project. Plastic shredders, Low space transformable furniture, a fully realized student formula car, when we say experimental we mean it. Pitch in your ideas for collabs, we always have our ears open for artistry in any form.</p>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- End service Area -->
			
			<br>

			<!-- Start faq Area -->
			<section class="faq-area section-gap relative">
				<div class="overlay overlay-bg"></div>
				<div class="container">
					<div class="row justify-content-center align-items-center">
						<div class="col-lg-3 col-md-12">
							<div class="single-faq">
								<div class="circle">
								  <div class="inner"></div>
								</div>
								<h5><span class="counter">50</span>K+</h5>
								<p>
									Projects Completed
								</p>
							</div>
						</div>
						<div class="col-lg-3 col-md-6">
							<div class="single-faq">
								<div class="circle">
								  <div class="inner"></div>
								</div>
								<h5><span class="counter">40</span></h5>
								<p>
									Total Employees
								</p>
							</div>
						</div>
						<div class="col-lg-3 col-md-6">
							<div class="single-faq">
								<div class="circle">
								  <div class="inner"></div>
								</div>
								<h5 class="counter">194</h5>
								<p>
									Product Types
								</p>
							</div>
						</div>
						<div class="col-lg-3 col-md-6">
							<div class="single-faq">
								<div class="circle">
								  <div class="inner"></div>
								</div>
								<h5><span class="counter">25</span>Years+</h5>
								<p>
									Industry Experience
								</p>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- End faq Area -->


			<!-- Start project Area -->
			<section class="project-area section-gap">
				<div class="container" id="projects">
					<div class="row justify-content-center">
						<div class="col-md-8 pb-30 header-text text-center">
							<h1 class="mb-10">Latest Finished Projects</h1>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-8 col-md-8">
							<a href="{% static "img/p1.jpg" %}" class="img-gal">
								<img class="img-fluid single-project" src="{% static "img/p1.jpg" %}" alt="">
							</a>
						</div>
						<div class="col-lg-4 col-md-4">
							<a href="{% static "img/p2.jpg" %}" class="img-gal">
								<img class="img-fluid single-project" src="{% static "img/p2.jpg" %}" alt="">
							</a>
						</div>
						<div class="col-lg-6 col-md-6">
							<a href="{% static "img/p3.jpg" %}" class="img-gal">
								<img class="img-fluid single-project" src="{% static "img/p3.jpg" %}" alt="">
							</a>
						</div>
						<div class="col-lg-6 col-md-6">
							<a href="{% static "img/p4.jpg" %}" class="img-gal">
								<img class="img-fluid single-project" src="{% static "img/p4.jpg" %}" alt="">
							</a>
						</div>
					</div>
				</div>
			</section>
			<!-- End project Area -->

			
<br><br>
	<div class="container">
		<div class="break1"> <br>
			<br>
			<br></div>
		
		 <br><br>
		
		
		 <div class="container"id="contact">
			<div class="row">
			  <div class="col-lg-12">
				<h2 class="mt-5 mb-3">Request a service</h2>
		
				  
		
				  {% if email_form %}
					<form method="POST" action ="" enctype="multipart/form-data">
					{% csrf_token %}
					{{email_form|crispy}}
					<button type="submit" href="#"class="btn btn-primary">Send Email</button>
					</form>
				  {% endif %}
				  <br>
		
			  </div>
			</div>
		  </div>
		
	</div>


			

{% endblock %}